@-webkit-keyframes underline-run-right {
    0% {
        background-size: 100% 100%;
        background-position: right
    }

    49% {
        background-size: 0 100%;
        background-position: right
    }

    50% {
        background-position: left;
        background-size: 0 100%
    }

    100% {
        background-position: left;
        background-size: 100% 100%
    }
}

@keyframes underline-run-right {
    0% {
        background-size: 100% 100%;
        background-position: right
    }

    49% {
        background-size: 0 100%;
        background-position: right
    }

    50% {
        background-position: left;
        background-size: 0 100%
    }

    100% {
        background-position: left;
        background-size: 100% 100%
    }
}

@-webkit-keyframes underline-run-left {
    0% {
        background-size: 100% 100%;
        background-position: left
    }

    49% {
        background-size: 0 100%;
        background-position: left
    }

    50% {
        background-position: right;
        background-size: 0 100%
    }

    100% {
        background-position: right;
        background-size: 100% 100%
    }
}

@keyframes underline-run-left {
    0% {
        background-size: 100% 100%;
        background-position: left
    }

    49% {
        background-size: 0 100%;
        background-position: left
    }

    50% {
        background-position: right;
        background-size: 0 100%
    }

    100% {
        background-position: right;
        background-size: 100% 100%
    }
}

.auction {
    background-color: #f7f7f7;
    padding: 190px 0 180px
}

.auction__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 60px
}

.auction__header-title {
    color: #233F5B;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    margin: 0 50px 0 0
}

.auction__header p,.auction__search-progress span {
    color: #828282;
    font-weight: 600;
    font-size: 18px
}

.auction__header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding: 10px 0 0
}

.auction__header-logo>li {
    padding: 0 12px
}

.auction__header-logo>li:last-child {
    padding-right: 0
}

.auction__header-logo>li:first-child {
    padding-left: 0
}

.auction__search-form [type=text],.auction__search-form [type=submit] {
    height: 70px;
    width: 100%
}

.auction__search-form [type=text] {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    font-size: 18px;
    padding-left: 30px
}

.auction__search-form [type=submit]:disabled {
    opacity: .5
}

.auction__search-form fieldset {
    margin-bottom: 15px
}

.auction__search-form--radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 200px;
    margin: 0 auto
}

.auction__search-form--radio>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0;
    margin: 0 10px 0 0
}

.auction__search-form--radio>li:last-child {
    margin: 0
}

.auction__search-form--radio>li img {
    height: 25px
}

.auction__search-form--radio>li [type=radio] {
    display: none
}

.auction__search-form--radio>li [type=radio]:checked+label::before {
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #CA0105;
    left: 7px;
    top: 7px;
    z-index: 2
}

.auction__search-form--radio>li label {
    cursor: pointer;
    padding: 0 0 0 40px;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.auction__search-form--radio>li label::after {
    content: '';
    display: block;
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #E5E5E5;
    left: 0;
    top: 0;
    z-index: 1
}

.auction__search-progress {
    padding: 100px 0 0;
    visibility: hidden
}

.auction__search-progress figure {
    position: relative;
    z-index: 1;
    height: 4px;
    border-radius: 3px;
    background-color: #EDEDED
}

.auction__search-progress figure::after,.auction__search-progress figure::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -13px;
    border: 8px solid;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 3
}

.auction__search-progress figure::before {
    left: 0;
    border-color: #DE1111
}

.auction__search-progress figure::after {
    border-color: #EDEDED;
    right: 0
}

.auction__search-progress figure i {
    display: block;
    position: absolute;
    z-index: 2;
    height: 4px;
    left: 0;
    width: 0%;
    background-color: #DE1111
}

.auction__search-progress figure i img {
    position: absolute;
    top: -40px;
    right: -55px
}

.auction__search-progress span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 25px 0 0
}

.auction__search-progress.active {
    visibility: visible
}

.auction__search-progress.active figure i {
    width: 100%;
    -webkit-transition: width 4s ease;
    transition: width 4s ease;
    will-change: width
}

.auction__search-progress.active figure i img {
    right: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease
}

.auction__result-title {
    text-transform: uppercase;
    margin: 0 0 40px;
    padding: 15px 0 0
}

.auction__result-title h2 {
    font-size: 30px;
    line-height: 38px
}

.auction__result-title span {
    font-weight: 600;
    font-size: 18px;
    color: #828282;
    display: block
}

.auction__result-table {
    position: relative;
    overflow: hidden
}

.auction__result-table.active {
    height: 100%!important;
    overflow: inherit
}

.auction__result-table.active .auction__result-table--collapse {
    background: 0 0;
    bottom: -40px
}

.auction__result-table.active .auction__result-table--collapse span:after {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 6px
}

.auction__result-table table {
    width: 100%;
    border: none;
    text-align: left;
    position: relative;
    z-index: 1
}

.auction__result-table table thead {
    text-align: left
}

.auction__result-table table thead>tr>th {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #3E3E3E;
    padding: 0 15px 10px
}

.auction__result-table table thead>tr>th span {
    font-size: 14px;
    color: #219653
}

.auction__result-table table tbody>tr>td {
    padding: 10px 15px;
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    color: #3E3E3E
}

.auction__result-table table tbody>tr>td:nth-child(2) {
    font-weight: 700;
    color: #616161
}

.auction__result-table table tbody>tr>td strong {
    color: #0077C0
}

.auction__result-table table tbody>tr:nth-child(2n)>td {
    background-color: transparent
}

.auction__result-table--collapse {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    text-decoration: none;
    z-index: 3;
    text-align: center;
    padding: 70px 0 0;
    height: 90px;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(247,247,247,0)),color-stop(50%,rgba(247,247,247,.85)),to(#f7f7f7));
    background: linear-gradient(to bottom,rgba(247,247,247,0) 0,rgba(247,247,247,.85) 50%,#f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#f7f7f7', GradientType=0 )
}

.auction__result-table--collapse span {
    color: #2F80ED;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 1px dashed;
    display: inline-block;
    position: relative
}

.auction__result-table--collapse span::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 5px;
    height: 5px;
    border: 2px solid #2F80ED;
    border-top: none;
    border-right: none;
    right: -17px;
    top: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .18s ease;
    transition: -webkit-transform .18s ease;
    transition: transform .18s ease;
    transition: transform .18s ease,-webkit-transform .18s ease
}

.auction__result-table--collapse:hover span {
    border-bottom-color: transparent
}

.auction__result-table--collapse:hover span::after {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 6px
}

.auction__result-table--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 35px
}

.auction__result-table--title img {
    margin: 0 15px 0 0
}

.auction__result-preload {
    padding: 30px;
    text-align: center
}

.auction__result-preload.notfound div {
    margin: 0 0 50px;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px
}

.auction__result-preload .button {
    padding: 30px 70px
}

.auction__result-trakheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    max-width: 1024px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 60px
}

.auction__result-trakheader--title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #233F5B;
    position: relative
}

.auction__result-trakheader--title span {
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    position: absolute;
    left: 0;
    display: block;
    top: -30px
}

.auction__result-trakheader a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    white-space: nowrap;
    color: #01276C
}

.auction__result-trakheader a img {
    margin: 0 12px 0 0
}

.auction__result-trakheader a:hover {
    opacity: .85
}

.auction__result-traktable {
    margin: 0 0 60px
}

.auction__result-traktable table {
    width: 100%;
    border: none;
    text-align: left;
    position: relative;
    z-index: 1;
    background-color: #fff;
    text-transform: uppercase
}

.auction__result-traktable table td,.auction__result-traktable table th {
    padding: 35px;
    text-align: left
}

.auction__result-traktable table thead {
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    line-height: 18px;
    color: #828282
}

.auction__result-traktable table thead>tr>th {
    padding-bottom: 0
}

.auction__result-traktable table tbody>tr>td {
    font-weight: 600;
    font-size: 24px;
    color: #233F5B
}

.auction__result-traklist {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    z-index: 1
}

.auction__result-traklist::after {
    content: '';
    display: block;
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 1px;
    background-color: #d8d8d8;
    left: 40%;
    z-index: 1;
    margin-left: -63px
}

.auction__result-traklist>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3
}

.auction__result-traklist>li:not(:first-child) {
    border-bottom: 1px solid #d8d8d8;
    padding: 0;
    margin: 0 0 30px
}

.auction__result-traklist>li:not(:first-child)>div {
    padding-bottom: 30px
}

.auction__result-traklist>li:not(:first-child)>div:nth-child(2) {
    padding-right: 30px
}

.auction__result-traklist>li:last-child {
    border-bottom: none
}

.auction__result-traklist>li:last-child>div {
    padding-bottom: 0
}

.auction__result-traklist>li:last-child .auction__result-traklist--status::after {
    width: 1px;
    height: auto;
    top: 0;
    bottom: 0;
    right: 62px;
    z-index: -1
}

.auction__result-traklist>li>div {
    width: 30%
}

.auction__result-traklist>li>div:nth-child(1) {
    width: 40%
}

.auction__result-traklist>li span {
    text-transform: uppercase;
    white-space: nowrap;
    color: #828282;
    display: block;
    margin: 0 0 40px
}

.auction__result-traklist>li p {
    color: #01276C;
    line-height: 22px
}

.auction__result-traklist--status {
    position: relative;
    z-index: 3
}

.auction__result-traklist--status::after,.auction__result-traklist--status::before {
    content: '';
    display: block;
    position: absolute
}

.auction__result-traklist--status::before {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #fff;
    border: 8px solid #DE1111;
    top: 2px;
    right: 50px
}

.auction__result-traklist--status::after {
    height: 1px;
    background-color: #f7f7f7;
    width: 120px;
    right: 0;
    bottom: -1px
}

.auction__result-traklist--status p {
    padding: 0 150px 0 0
}

.auction__sliderBig {
    margin: 0 0 20px;
    position: relative
}

.auction__sliderBig .slick-list {
    z-index: 1
}

.auction__sliderBig .slick-arrow {
    z-index: 3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.7);
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    -webkit-transition: background-color .18s ease;
    transition: background-color .18s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.auction__sliderBig .slick-arrow:hover {
    background-color: rgba(255,255,255,.95)
}

.auction__sliderBig .slick-arrow::after {
    content: '';
    display: block;
    position: relative;
    width: 6px;
    height: 6px;
    border: 3px solid #494949;
    border-top: none;
    border-right: none;
    top: 1px
}

.auction__sliderBig .slick-prev {
    left: 10px
}

.auction__sliderBig .slick-prev::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 3px
}

.auction__sliderBig .slick-next {
    right: 10px
}

.auction__sliderBig .slick-next::after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    right: 2px
}

.auction__sliderBig-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.auction__sliderThumb {
    position: relative;
    margin-right: -8px;
    margin-left: -8px
}

.auction__sliderThumb-slide {
    padding: 5px 8px 10px;
    cursor: pointer
}

.auction__sliderThumb-slide:hover {
    opacity: .7
}

.auction__sliderThumb-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.auction__sliderThumb-slide.slick-active {
    opacity: .5
}

.auction__sliderThumb .slick-list {
    padding: 0
}

.auction.tracking .auction__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap
}

.auction__tabs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 35px
}

.auction__tabs-list>li {
    width: 50%;
    text-align: center;
    font-weight: 500;
    font-size: 19px;
    color: #333;
    border-radius: 3px;
    background-color: #EBEBEB
}

.auction__tabs-list>li:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.auction__tabs-list>li:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.auction__tabs-list>li a {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.auction__tabs-list>li.active {
    background-color: #3E3E3E
}

.auction__tabs-list>li.active a {
    color: #fff
}

.auction__tabs-content .tab-pane:not(.active) {
    display: none
}

@media (max-width: 1380px) {
    .auction {
        padding-top:160px
    }

    .auction__header-title {
        font-size: 34px;
        line-height: 40px
    }

    .auction__header p {
        font-size: 16px;
        line-height: 22px
    }

    .auction__result-title h2 {
        font-size: 28px;
        line-height: 34px
    }

    .auction__result-trakheader {
        margin: 0 0 30px
    }

    .auction__result-trakheader--title {
        font-size: 30px;
        line-height: 32px
    }

    .auction__result-trakheader--title span {
        font-size: 15px;
        line-height: 16px
    }

    .auction__result-trakheader a {
        font-size: 16px;
        line-height: 16px
    }

    .auction__result-trakheader a img {
        height: 18px
    }

    .auction__result-traktable {
        margin-bottom: 30px
    }

    .auction__result-traktable table td,.auction__result-traktable table th {
        padding: 20px
    }

    .auction__result-traktable table thead {
        font-size: 14px;
        line-height: 14px
    }

    .auction__result-traktable table tbody>tr>td {
        font-size: 16px
    }

    .auction__result-traklist {
        font-size: 15px;
        line-height: 15px
    }
}

@media (max-width: 1199px) {
    .auction {
        padding-top:140px
    }

    .auction__header-title {
        font-size: 28px;
        line-height: 34px
    }

    .auction__header p {
        font-size: 15px;
        line-height: 20px
    }

    .auction__result-title h2 {
        font-size: 22px;
        line-height: 28px
    }

    .auction__result-trakheader--title {
        font-size: 22px;
        line-height: 25px
    }

    .auction__result-trakheader--title span {
        font-size: 13px;
        line-height: 15px;
        top: -25px
    }

    .auction__result-trakheader a {
        font-size: 15px;
        line-height: 15px
    }

    .auction__result-trakheader a img {
        height: 16px
    }
}

@media (max-width: 999px) {
    .auction__header,.auction__search-form [type=text],.auction__search-form fieldset {
        text-align:center
    }

    .auction {
        padding-top: 90px
    }

    .auction.tracking {
        padding-top: 140px
    }

    .auction .block .content {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px
    }

    .auction__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .auction__header-title {
        padding: 0;
        margin: 0 0 25px
    }

    .auction__header-logo {
        margin: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .auction__header p {
        font-size: 14px;
        line-height: 19px;
        padding: 0;
        margin: -15px 0 0;
        position: relative
    }

    .auction.tracking .auction__header {
        margin: 0 0 20px
    }

    .auction__search-form {
        max-width: 460px;
        margin-left: auto;
        margin-right: auto
    }

    .auction__search-form [type=submit] {
        display: inline-block;
        width: auto;
        padding-left: 60px;
        padding-right: 60px;
        margin: 0 auto
    }

    .auction__result-title h2 {
        font-size: 18px;
        line-height: 24px
    }

    .auction__tabs-list>li {
        font-size: 14px
    }

    .auction__tabs-list>li a {
        height: 100%;
        padding: 15px
    }
}

@media (max-width: 768px) {
    .auction__search-progress span {
        font-size:15px
    }

    .auction__result-title {
        text-align: center
    }

    .auction__result-title span {
        font-size: 15px;
        margin: 0 0 10px
    }

    .auction__result-table {
        height: 100%!important
    }

    .auction__result-table--collapse {
        display: none
    }

    .auction__result-gallery {
        margin: 0 0 40px
    }

    .auction__result-trakheader {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin: 0 0 50px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .auction__result-trakheader>:not(:last-child) {
        margin: 0 0 30px
    }

    .auction__result-trakheader a {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .auction__result-trakheader a img {
        margin: 0 0 10px
    }

    .auction__result-trakheader--title {
        text-align: center;
        font-size: 30px;
        line-height: 30px
    }

    .auction__result-trakheader--title span {
        position: static;
        margin: 0 0 10px
    }

    .auction__result-traktable {
        margin: 0 0 50px
    }

    .auction__result-traktable table,.auction__result-traktable tbody,.auction__result-traktable td,.auction__result-traktable th,.auction__result-traktable thead,.auction__result-traktable tr {
        display: block
    }

    .auction__result-traktable table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }

    .auction__result-traktable table tr {
        border: 1px solid #e5e5e5
    }

    .auction__result-traktable table td {
        border: none;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
        padding-left: 50%
    }

    .auction__result-traktable table td::before {
        content: attr(data-caption);
        position: absolute;
        top: 21px;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 13px
    }

    .auction__result-traktable table tbody>tr td {
        font-size: 13px
    }

    .auction__result-traklist {
        font-size: 12px;
        line-height: 16px
    }

    .auction__result-traklist>li>div {
        width: 25%
    }

    .auction__result-traklist>li>div:nth-child(1) {
        width: 50%
    }

    .auction__result-traklist::after {
        left: 50%
    }

    .auction__result-traklist--status p {
        padding: 0 115px 0 0
    }

    .auction__sliderBig {
        margin: 0 0 2px
    }

    .auction__sliderThumb {
        margin-right: -2px;
        margin-left: -2px
    }

    .auction__sliderThumb-slide {
        padding: 2px 2px 0
    }
}

@media (max-width: 560px) {
    .auction__header-title {
        font-size:22px;
        line-height: 30px
    }
}

@media (max-width: 500px) {
    .auction__result-traklist>li {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 0 0 15px 40px!important
    }

    .auction__result-traklist>li>div {
        width: 100%!important;
        padding-right: 0!important
    }

    .auction__result-traklist>li:last-child {
        padding-bottom: 0!important;
        margin-bottom: 0
    }

    .auction__result-traklist>li:last-child::after {
        height: auto;
        width: 1px;
        left: 8px;
        z-index: -1;
        top: 0;
        bottom: 0
    }

    .auction__result-traklist>li:last-child>div:last-child {
        padding-bottom: 0
    }

    .auction__result-traklist>li:first-child {
        display: none
    }

    .auction__result-traklist>li:not(:first-child)>div {
        padding-bottom: 15px
    }

    .auction__result-traklist>li::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 5;
        height: 1px;
        background-color: #f7f7f7;
        left: 0;
        width: 40px;
        bottom: -1px
    }

    .auction__result-traklist>li p {
        margin: 0
    }

    .auction__result-traklist::after {
        left: 8px;
        margin: 0;
        right: auto;
        top: 0
    }

    .auction__result-traklist--status::before {
        width: 6px;
        height: 6px;
        border-width: 6px;
        left: -40px;
        top: 0
    }

    .auction__result-traklist--status p {
        padding: 0;
        margin: 0
    }
}

@media (max-width: 430px) {
    .auction__result-traktable table td {
        padding-left:60%;
        font-size: 12px
    }

    .auction__result-traktable table td::before {
        font-size: 12px
    }
}

@media (max-width: 399px) {
    .auction__tabs-list {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap
    }

    .auction__tabs-list>li {
        width: 100%;
        border-radius: 4px
    }

    .auction__tabs-list>li:first-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
    }

    .auction__tabs-list>li:last-child {
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px
    }
}
